 /* *,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
   height: 100%;
   width: 100%;
} */
/*
 .wait{
     -webkit-tap-highlight-color:transparent;  
     filter:drop-shadow(0 0 0.1rem red);
     backdrop-filter:blur(80px) saturate(2); */
     /* background: linear-gradient(#9b8bfb,#487be7); */
     /* position:absolute ; 
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     border-radius: 59px;
    width: 20px;
    height: 20px;
     animation:blush 5s ease-in-out linear infinite;  
       
 }
 .wait::before,
 .wait::after{
    content: "";
    position: absolute;
    background-color: lightsteelblue;
    opacity: 0.7;
    z-index:-1;
    width: 140%;
    height: 100%;
 }
 .wait:before{
    animation: shade 2s ease-out infinite;
 }
 .wait:after{
    animation: shade 2s 1s   ease-out infinite;
 }
 @keyframes shade{
    100%{
        transform:scale(2.5);
        opacity: 0;
    }
    50%{
        transform:scale(1.5);
        opacity: 0.55; 
    }
 }
 @keyframes blush{
    0%{
       text-shadow: 0 0 10px #25D366,
       0 0 20px #25D366,
       0 0 30px #25D366;
    }
    100%{
        text-shadow: 0 0 5px #25D366,
       0 0 10px #25D366,
       0 0 15px #25D366;
    }
 }

 .wait i{
    animation:tilt 5s  infinite ;
    transition: 5s smooth;
    font-size: 65px;
    color: #fff;
    z-index: 9999;
    
 }
 
 @keyframes tilt{
     0%{
         rotate:0deg;
         opacity: 0.20;
     }
     40%, 70%{
         rotate:15deg;
         opacity: 0.56;
     }
     50%, 85%{
         rotate:-15deg;
         opacity: 0.95;
     }
    
 } */
 /* .box{
    width: 100%;
    height: 100vh;
    background: rgb(90,193,186);
    background: linear-gradient(225deg, #000428 23%, #004e92 68%, rgba(252,69,186,1) 100%);
 }
 .wrapped-content{
    width: 100%;
    height: 100%;
    position: relative;
 }
 .wrapped-content span{
    width: 40px;
    height: 40px;
    border: 2.67px solid #e456e1;
    position: absolute;
 }
 .wrapped-content span:nth-child(odd){
   border-radius: 50px;
   border: 2px solid #25D366;
}
 .wrapped-content span:nth-child(1){
    animation: move 6s linear infinite;
    top: 4%;
    left: 23%; 
 }
 .wrapped-content span:nth-child(2){
    animation: move 6s linear infinite;
    top: 20%;
    left: 41%;
 }
 .wrapped-content span:nth-child(3){
    animation: move 6s linear infinite;
    top: 30%;
    left: -43%;
 }
 .wrapped-content span:nth-child(4){
    animation: move 6s linear infinite;
    top: 45%;
    left: 53%;
 }
 .wrapped-content span:nth-child(5){
    animation: move 6s linear infinite;
    top: 56%;
    left: 63%;
 }
 .wrapped-content span:nth-child(6){
    animation: move 6s linear infinite;
    top: 57%;
    left: 33%;
 }
 .wrapped-content span:nth-child(7){
    animation: move 6s linear infinite;
    top: 89%;
    left: 23%;
 }
 .wrapped-content span:nth-child(8){
    animation: move 6s linear infinite;
    top: 90%;
    left: 93%;
 }
 .wrapped-content span:nth-child(9){
    animation: move 6s linear infinite;
    top: 60%;
    left: 13%;
 }
 .wrapped-content span:nth-child(10){
    animation: move 6s linear infinite;
    top: 70%;
    left: 69%;
 }
 
 .wrapped-content span:nth-child(11){
    animation: move 6s linear infinite;
    top: 47%;
    left: 64%;
 }
 .wrapped-content span:nth-child(12){
    animation: move 6s linear infinite;
    top: 66%;
    left: 41%;
 }
 .wrapped-content span:nth-child(13){
    animation: move 6s linear infinite;
    top: 9%;
    left: 4%;
 }
 .wrapped-content span:nth-child(14){
    animation: move 6s linear infinite;
    top:77%;
    left: 70%;
 }
 .wrapped-content span:nth-child(15){
    animation: move 6s linear infinite;
    top: 56%;
    left: 10%;
 }
 .wrapped-content span:nth-child(16){
    animation: move 6s linear infinite;
    top: 5%;
    left: 80%;
 }
 .wrapped-content span:nth-child(17){
    animation: move 6s linear infinite;
    top: 15%;
    left: 8%;
 }
 .wrapped-content span:nth-child(18){
    animation: move 6s linear infinite;
    top: 25%;
    left: 20%;
 }
 .wrapped-content span:nth-child(19){
    animation: move 6s linear infinite;
    top: 25%;
    left: 79%;
 }
 .wrapped-content span:nth-child(20){
    animation: move 6s linear infinite;
    top: 5%;
    left: 85%;
 }
 @keyframes move {
    0%{
        transform: rotate(0) translateY(0) scale(0);
         opacity: 1;
    }
    100%{
        transform: rotate(330deg) translateY(-70px) scale(1);
        opacity: 0.88;
    }
 }  */





 